a{
    text-decoration: none;
    font-size:10px;
    color:black;
}

.nomPlanete{
    color:blue;
}

.nomSysteme{
    color:purple;
}

.nomJoueur{
    color:darkgreen;
}

.nomPerso{
    color:green;
}

.star{
    font-size: 20px;
}

.planet {
        width: 100px;
	height: 100px;
	border-radius: 50%;
	background-size: 210px;
	box-shadow: inset 16px 0 40px 6px rgb(0, 0, 0),
		inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
	animation-name: rotate;
	animation-duration: 180s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    display:inline-block;
}

@keyframes rotate {
  from { background-position-x: 0px; }
  to { background-position-x: 1440px; }
}